* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans",
        sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 22px;
    line-height: 1.6;
    color: var(--dark);
}

:root {
    --white: #fffafa;
    --whiteTrans: #fffafa31;
    --whiteFaded: #fffafa17;
    --dark: #220000;
    --darkGray: #997979;
    --lightGray: #f7f7f7;
    --gray: #eeeeee;
    --red: #d3290d;
    --redTrans: #f522022f;
    --redFaded: #f5220217;
    --yellow: #FFB611;
    --gradientDiag: linear-gradient(to left, #F20505, #FFB611);
    --gradientVert: linear-gradient(to top, #F20505, #FFB611);
}

body {
    min-height: 100vh;
    overflow-x: hidden;
    background-color: var(--gray);
    color: var(--);
}

hr {
    margin: 0.5em 0;
    width: 100%;
}

label {
    font-size: 0.9em;
}

input[type=text],
input[type=password],
input[type=search],
input[type=tel],
input[type=email],
input[type=button],
input[type=submit],
select {
    height: 2.5em;
    padding: 0 1em;
    background: var(--lightGray);
    border-radius: 0.5rem;
    border: 0.1em solid var(--darkGray);
}

/* input[type=submit] {
    height: 2rem;
    background: var(--gradientDiag);
    color: var(--white);
    font-weight: bolder;
    font-size: 1em;
} */

input[type=button],
input[type=submit],
select {
    cursor: pointer;
}

a {
    color: var(--white);
    text-decoration: none;
}

img {
    height: 70%;
}

p,
div {
    font-size: 0.7rem;
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }

    80% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}