* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans",
        sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 22px;
    line-height: 1.6;
    color: var(--dark);
}

:root {
    --white: #fffafa;
    --whiteTrans: #fffafa31;
    --whiteFaded: #fffafa17;
    --dark: #220000;
    --darkTrans: #22000046;
    --darkFaded: #2200002a;
    --darkGray: #dbd1d1;
    --lightGray: #f7f7f7;
    --gray: #eeeeee;
    --red: #d3290d;
    --lightRed: #fdd2cc;
    --redTrans: #f522022f;
    --redFaded: #f5220217;
    --yellow: #FFB611;
    --lightYellow: #ffe2a4;
    --yellowTrans: #ffb8115e;
    --yellowFaded: #ffb81125;
    --yellowGreen: #efff11;
    --yellowGreenTrans: #efff1148;
    --green: #2eef10;
    --greenTrans: #2eef1057;
    --greenFaded: #2eef1027;
    --blue: #088bfd;
    --gradientDiag: linear-gradient(to left, var(--red), var(--yellow));
    --gradientVert: linear-gradient(to top, var(--red), var(--yellow));
}

body {
    margin: auto;
    max-width: 2500px;
    min-height: 100vh;
    min-height: 100dvh;
    overflow-x: hidden;
    background-color: var(--darkFaded);
}

main {
    background-color: var(--gray);
    z-index: 1;
}

hr {
    height: 0.15rem;
    margin: 0.3rem 0;
    width: 100%;
    background: var(--dark);
    border: none;
}

label {
    font-size: 0.7rem;
}

input[type=text],
input[type=number],
input[type=password],
input[type=search],
input[type=tel],
input[type=email],
input[type=url],
input[type=button],
input[type=submit],
input[type=date],
input[type="file"],
button,
select,
textarea {
    font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans",
        sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 0.7rem;
    height: 1.7rem;
    padding: 0 0.5rem;
    background: var(--lightGray);
    border-radius: 0.5rem;
    border: 0.1em solid var(--darkGray);
}

input[type=checkbox] {
    height: 1rem;
    width: 1rem;
    accent-color: var(--dark);
}

input[type="file"] {
    padding: 0 !important;
    color: var(--darkGray);
}

input[type="file"]::file-selector-button {
    font: inherit;
    height: 100%;
    padding: 0 0.7rem;
    margin-right: 0.5rem;
    background: var(--dark);
    color: var(--white);
    border: none;
    border-radius: 0.35rem;
}

input[type=button],
input[type=submit],
button,
select,
a {
    cursor: pointer;
    font-size: 0.7rem;
}

input[type="number"] {
    appearance: textfield;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

a {
    color: var(--white);
    text-decoration: none;
}

img {
    height: 70%;
}

p,
div {
    font-size: 0.7rem;
}

b {
    font-size: 0.75rem;
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }

    80% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

/* Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: rgba(0, 0, 0, 0.2) transparent;
}

/* Hide default scrollbar in IE/Edge (old versions) */
html,
body,
.scrollable,
.scrollableX,
[class*="scrollable"] {
    -ms-overflow-style: none;
}

/* For WebKit browsers (Chrome, Safari, newer Edge) */
*::-webkit-scrollbar {
    width: 4px;
    height: 4px;
}

*::-webkit-scrollbar-track {
    background: transparent;
}

*::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.2);
    border-radius: 2px;
}

*::-webkit-scrollbar-thumb:hover {
    background: rgba(0, 0, 0, 0.4);
}

/* All toolbar icons – default (unselected) color */
.apexcharts-toolbar>div svg {
    fill: var(--dark) !important;
}

@media (max-width: 1800px) {
    html {
        font-size: 20px;
        line-height: 1.5;
    }
}

@media (max-width: 1650px) {
    html {
        font-size: 18px;
        line-height: 1.4;
    }
}

@media (max-width: 1400px) {
    html {
        font-size: 16px;
    }
}

@media (max-width: 1200px) {
    html {
        font-size: 15px;
    }
}

@media (max-width: 1000px) {
    html {
        font-size: 14px;
    }
}