* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 22px;
    line-height: 1.6;
}

:root {
    --white: #fffafa;
    --whiteTrans: #fffafa31;
    --whiteFaded: #fffafa17;
    --dark: #220000;
    --gray: #eeeeee;
    --red: #f52402;
    --redTrans: #f522022f;
    --redFaded: #f5220217;
    --gradientDiag: linear-gradient(to left, #F20505, #FFB611);
    --gradientVert: linear-gradient(to top, #F20505, #FFB611);
}

body {
    min-height: 100vh;
    overflow-x: hidden;
    background-color: var(--gray);
    color: var(--);
}

hr {
    margin: 0.5em 0;
    width: 100%;
}

label {
    font-size: 0.9em;
}

input[type=text],
input[type=password] {
    height: 2.5em;
}

input[type=submit] {
    height: 2rem;
    background: var(--gradientDiag);
    color: var(--white);
    font-weight: bolder;
    font-size: 1em;
}

a {
    color: var(--white);
    text-decoration: none;
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }

    80% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}
