.centerColumnLayout {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.asideLayout {
    display: flex;
}

.asideLayout>aside {
    flex: 1;
}

.asideLayout>main {
    flex: 6;
}

.columnLayout {
    display: flex;
    flex-direction: column;
}

.centerHoriColumnLayout {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.minGap {
    gap: 0.5em;
}

.midGap {
    gap: 1em;
}

.maxGap {
    gap: 2em;
}

.fullWidth {
    width: 100%;
}

.leftAlign {
    align-items: baseline;
}

.leftStart {
    align-self: baseline;
}

.centerStart {
    align-self: center;
}

.centerRowLayout {
    display: flex;
    align-items: center;
}

.rowLayout {
    display: flex;
}

.flexStretch {
    align-items: stretch;
}

.minPadding {
    padding: 0.3rem 0.5rem;
}

.midPadding {
    padding: 1em 2em;
}

.flexMin {
    flex: 1;
}

.flexMid {
    flex: 3;
}

.flexMax {
    flex: 6;
}

.scrollable {
    overflow-y: scroll;
}

.fixedScreen {
    overflow: hidden;
}

.minWidth {
    width: 5rem;
}

.midWidth {
    width: 10rem;
}

.maxWidth {
    width: 20rem;
}

.minHeight {
    height: 5rem;
}

.midHeight {
    height: 10rem;
}

.maxHeight {
    height: 20rem;
}

.gridFlexMid {
    display: flex;
    flex-wrap: wrap;
    flex: auto;
}

.gridFlexMid>* {
    width: 32.5%;
}

.flexStatic {
    flex-grow: 0;
}

.inputBox {
    width: 30rem;
}

.centerHoriSelf {
    margin: 0 auto;
}

.triItemLayout>* {
    width: 32.5%;
}

.marginMicro {
    margin: 0.25rem;
}
