.centerColumnLayout {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.asideLayout {
    display: flex;
}

.asideLayout>aside {
    flex: 1;
}

.asideLayout>main {
    flex: 6;
}

.asideLayout>main>*:first-child {
    margin-top: 1rem;
}

.asideLayout>main>* {
    margin-right: 2rem;
    margin-left: 2rem;
}

.asideLayout>main>section {
    max-height: 85vh;
    height: 85vh;
}

.columnLayout {
    display: flex;
    flex-direction: column;
}

.reverseColumnLayout {
    display: flex;
    flex-direction: column-reverse;
}

.centerHoriColumnLayout {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.tinGap {
    gap: 0.2rem;
}

.minGap {
    gap: 0.5rem;
}

.midGap {
    gap: 1rem;
}

.maxGap {
    gap: 2rem;
}

.fullHeight {
    height: 100%;
}

.fullWidth {
    width: 100%;
}

.fullDimensions {
    height: 100%;
    width: 100%;
}

.leftAlign {
    align-items: baseline;
}

.leftStart {
    align-self: baseline;
}

.centerStart {
    align-self: center;
}

.centerRowLayout {
    display: flex;
    align-items: center;
    justify-content: center;
}

.centerHoriRowLayout {
    display: flex;
    align-items: center;
}

.rowLayout {
    display: flex;
}

.flexStretch {
    align-items: stretch;
}

.regMinPadding {
    padding: 0.3rem;
}

.regPadding {
    padding: 1rem;
}

.minPadding {
    padding: 0.3rem 0.5rem;
}

.midPadding {
    padding: 1em 2em;
}

.flexMin {
    flex: 1;
}

.flexMid {
    flex: 3;
}

.flexMax {
    flex: 6;
}

.scrollable {
    overflow-y: scroll;
}

.fixedScreen {
    overflow: hidden;
}

.tinWidth {
    width: 3rem;
}

.minWidth {
    width: 5rem;
}

.midWidth {
    width: 10rem !important;
}

.maxWidth {
    width: 20rem !important;
}

.extraWidth {
    width: 30rem !important;
}

.fitWidth {
    width: fit-content;
}

.unitHeight {
    height: 1rem !important;
}

.tinHeight {
    height: 3rem !important;
}

.minHeight {
    height: 5rem !important;
}

.midHeight {
    height: 10rem !important;
}

.maxHeight {
    height: 20rem !important;
}

.midMaxHeight {
    max-height: 5rem !important;
}

.gridCenterHoriFlex {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.gridFlexMid {
    display: flex;
    flex-wrap: wrap;
    flex: auto;
    height: unset;
    flex-grow: 0;
}

.gridFlexMid>* {
    width: 32.5%;
}

.flexStatic {
    flex-grow: 0;
}

.centerMarginsSelf {
    margin: auto;
}

.centerHoriSelf {
    margin: 0 auto;
}

.triItemLayout>* {
    width: 32.5%;
}

.marginMicro {
    margin: 0.25rem;
}

.eastAbsolute {
    position: absolute;
    right: 1rem;
}

.norWestAbsolute {
    position: absolute;
    top: 1rem;
    left: 1rem;
}

.norEastAbsolute {
    position: absolute;
    top: 1rem;
    right: 1rem;
}

.souEastAbsolute {
    position: absolute;
    bottom: 1rem;
    right: 1rem;
}

.souWestAbsolute {
    position: absolute;
    bottom: 1rem;
    left: 1rem;
}

.eastAbsolute.closeCorner {
    right: 0.3rem;
}

.norWestAbsolute.closeCorner {
    top: 0.3rem;
    left: 0.3rem;
}

.norEastAbsolute.closeCorner {
    top: 0.3rem;
    right: 0.3rem;
}

.souEastAbsolute.closeCorner {
    bottom: 0.3rem;
    right: 0.3rem;
}

.souWestAbsolute.closeCorner {
    bottom: 0.3rem;
    left: 0.3rem;
}

*:has(> .eastAbsolute),
*:has(> .norWestAbsolute),
*:has(> .norEastAbsolute),
*:has(> .souEastAbsolute),
*:has(> .souWestAbsolute) {
    position: relative;
}

.selfCenter {
    align-self: center;
    justify-self: center;
}

.squareSize {
    aspect-ratio: 1 / 1;
}

.noShrink {
    flex-shrink: 0;
}