.centerColumnLayout {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.asideLayout {
    display: flex;
}

.asideLayout>aside {
    flex: 1;
}

.asideLayout>main {
    flex: 6;
}

.asideLayout>main>*:first-child {
    margin-top: 1rem;
}

.asideLayout>main>* {
    margin-right: 2rem;
    margin-left: 2rem;
}

.asideLayout>main>section {
    max-height: 85vh;
    height: 85vh;
}

.columnLayout {
    display: flex;
    flex-direction: column;
}

.reverseColumnLayout {
    display: flex;
    flex-direction: column-reverse;
}

.centerHoriColumnLayout {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.tinGap {
    gap: 0.2rem;
}

.minGap {
    gap: 0.5rem;
}

.midGap {
    gap: 1rem;
}

.maxGap {
    gap: 2rem;
}

.fullHeight {
    height: 100%;
}

.fullWidth {
    width: 100%;
}

.fullDimensions {
    height: 100% !important;
    width: 100% !important;
}

.fitDimensions {
    height: fit-content !important;
    width: fit-content !important;
}

.leftAlign {
    align-items: baseline;
}

.leftStart {
    align-self: baseline;
}

.centerStart {
    align-self: center;
}

.centerRowLayout {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.reverseCenterHoriRowLayout {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
}

.centerHoriRowLayout {
    display: flex;
    align-items: center;
    flex-direction: row;
}

.rowLayout {
    display: flex;
    flex-direction: row;
}

.flexStretch {
    align-items: stretch;
}

.regTinPadding {
    padding: 0.1rem !important;
}

.regMinPadding {
    padding: 0.3rem !important;
}

.regMidPadding {
    padding: 0.6rem !important;
}

.regPadding {
    padding: 1rem !important;
}

.minHoriPadding {
    padding: 0 0.3rem;
}

.midHoriPadding {
    padding: 0 1rem;
}

.maxHoriPadding {
    padding: 0 3rem;
}

.minPadding {
    padding: 0.3rem 0.5rem;
}

.midPadding {
    padding: 1em 2em;
}

.flexMin {
    flex: 1 !important;
}

.flexMinExtra {
    flex: 2.5 !important;
}

.flexMid {
    flex: 3 !important;
}

.flexMax {
    flex: 6 !important;
}

.scrollable {
    overflow-y: scroll !important;
}

.scrollableX {
    overflow-x: scroll !important;
}

.fixedScreen {
    overflow: hidden;
}

.unitWidth {
    width: 1rem !important;
}

.duoWidth {
    width: 2rem !important;
}

.tinWidth {
    width: 3rem;
}

.minWidth {
    width: 5rem;
}

.midWidth {
    width: 10rem !important;
}

.maxWidth {
    width: 20rem !important;
}

.extraWidth {
    width: 30rem !important;
}

.fitWidth {
    width: fit-content !important;
}

.micHeight {
    height: 0.5rem !important;
}

.unitHeight {
    height: 1rem !important;
}

.duoHeight {
    height: 2rem !important;
}

.tinHeight {
    height: 3rem !important;
}

.minHeight {
    height: 5rem !important;
}

.midHeight {
    height: 10rem !important;
}

.maxHeight {
    height: 20rem !important;
}

.fitHeight {
    height: fit-content !important;
}

.halfScreenHeight {
    height: 50vh !important;
}

.fullMinWidth {
    min-width: 100% !important;
}

.halfScreenMaxWidth {
    max-width: 50vw !important;
}

.majorScreenMaxWidth {
    max-width: 80vw !important;
}

.midMaxHeight {
    max-height: 5rem !important;
}

.halfMaxHeight {
    max-height: 50% !important;
}

.maxMaxHeight {
    max-height: 20rem !important;
}

.halfScreenMaxHeight {
    max-height: 50vh !important;
}

.majorScreenMaxHeight {
    max-height: 80vh !important;
}

.gridCenterVertFlex {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.gridCenterFlex {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.gridFlexMid {
    display: flex;
    flex-wrap: wrap;
    flex: auto;
    height: unset;
    flex-grow: 0;
}

.gridFlexMid>* {
    width: 32.5%;
}

.gridFlex {
    display: flex;
    flex-wrap: wrap;
    flex: auto;
    height: unset;
}

.gridFlex.minGrids>* {
    width: 49%;
}

.gridFlex.midGrids>* {
    width: 32%;
}

.gridFlex.maxGrids>* {
    width: 24.4%;
}

.gridFlex.midGrids.minGap>* {
    width: 30.25%;
}

.contentFlexStart {
    align-content: flex-start;
}

.contentFlexEnd {
    justify-content: flex-end;
}

.contentFlexEven {
    justify-content: space-evenly;
}

.flexStatic {
    flex-grow: 0;
}

.centerMarginsSelf {
    margin: auto;
}

.centerHoriSelf {
    margin: 0 auto;
}

.triItemLayout>* {
    width: 32.5%;
}

.marginMicro {
    margin: 0.25rem;
}

.tinHoriMargin {
    margin: 0 0.1rem;
}

.noMargin {
    margin: 0 !important;
}

.norAbsolute {
    position: absolute !important;
    top: 1rem;
}

.eastAbsolute {
    position: absolute !important;
    right: 1rem;
}

.norWestAbsolute {
    position: absolute !important;
    top: 1rem;
    left: 1rem;
}

.norEastAbsolute {
    position: absolute !important;
    top: 1rem;
    right: 1rem;
}

.souEastAbsolute {
    position: absolute !important;
    bottom: 1rem;
    right: 1rem;
}

.souWestAbsolute {
    position: absolute !important;
    bottom: 1rem;
    left: 1rem;
}

.norEastAbsolute.distantCorner {
    top: 1.5rem;
    right: 1.5rem;
}

.norAbsolute.closeCorner {
    top: 0.3rem;
}

.eastAbsolute.closeCorner {
    right: 0.3rem;
}

.norWestAbsolute.closeCorner {
    top: 0.3rem;
    left: 0.3rem;
}

.norEastAbsolute.closeCorner {
    top: 0.3rem;
    right: 0.3rem;
}

.souEastAbsolute.closeCorner {
    bottom: 0.3rem;
    right: 0.3rem;
}

.souWestAbsolute.closeCorner {
    bottom: 0.3rem;
    left: 0.3rem;
}

.eastAbsolute.edgeCorner {
    right: 0;
}

.norWestAbsolute.edgeCorner {
    top: 0;
    left: 0;
}

*:has(> .eastAbsolute),
*:has(> .norWestAbsolute),
*:has(> .norEastAbsolute),
*:has(> .souEastAbsolute),
*:has(> .souWestAbsolute) {
    position: relative;
}

.selfCenter {
    align-self: center;
    justify-self: center;
}

.squareSize {
    aspect-ratio: 1 / 1;
}

.noShrink {
    flex-shrink: 0;
}

.noGrow {
    flex-grow: 0;
}

.noPadding {
    padding: 0 !important;
}

.topZ {
    z-index: 5 !important;
}

.midZ {
    z-index: 3 !important;
}

.minZ {
    z-index: 1 !important;
}

.noMinHeight {
    min-height: 0 !important;
}

.noFlexBasis {
    flex-basis: 0 !important;
}

.absoluted {
    position: absolute;
}

.relatived {
    position: relative;
}

.stickied {
    position: sticky;
}

.topPos {
    top: 0;
}

.rightPos {
    right: 0;
}

.marginTopMin {
    margin-top: 0.3rem;
}

.marginRightMin {
    margin-right: 0.3rem;
}