#servicesList {
    max-height: 35.5rem;
}

.serviceElement,
.subserviceElement {
    border: 0.1rem solid var(--red);
}

.serviceElement.active,
.subserviceElement.active {
    border-color: var(--yellow) !important;
}

.serviceElement a {
    display: none;
}

.serviceElement.active a {
    display: flex;
}

.serviceElement .statusButton,
.subserviceElement .statusButton,
#changeConfirmation input[type=submit] {
    background: var(--red);
    color: var(--white);
    font-weight: 900;
    border: none;
}

.serviceElement.active .statusButton,
.subserviceElement.active .statusButton,
#changeConfirmation input[type=submit].active {
    background: var(--yellow) !important;
}

.serviceImage {
    background: var(--gray);
    height: 55%;
}

.subserviceImage {
    background: var(--gray);
    height: 40%;
}

#servicesList h2>span,
.orderCount {
    color: var(--darkGray);
    font-size: 0.6rem;
    font-weight: bold;
}

#changeConfirmation {
    position: absolute;
    height: 100vh;
    width: 100vw;
}

#changeConfirmation>div {
    z-index: 3;
}

#confirmationBackground {
    position: absolute;
    height: 100vh;
    width: 100vw;
    background: var(--darkTrans);
    z-index: 2;
}

#confirmationText {
    text-align: center;
}

.backLink {
    width: fit-content;
    position: unset;
}

#process>div {
    background: var(--redTrans);
}

#subservicesList {
    max-height: 24rem;
}

label[for=pricePerUnit] {
    display: block;
}